{{#each ideas}}
    <div class="card card-body mb-2">
        <h1>{{title}}</h1>
        <p>{{details}}</p>
        <p>{{date}}</p>
        <a class="btn btn-block btn-dark mb-2" href="/ideas/edit/{{id}}">Edit</a>
        <form action="/ideas/{{id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger btn-block" type="submit">Delete</button>
        </form>
    </div>
{{else}}
    <p>There is no videos added</p>
{{/each}}